In [6]:
# Import all three dependencies
import pandas as pd

In [7]:
ratings = pd.read_csv('Resources_raw/ratings.csv')

In [8]:
# Run head on ratings DataFrame
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [9]:
# Run tail on ratings DataFrame
ratings.tail()

          userId  movieId  rating   timestamp
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

In [10]:
# Run sample on ratings DataFrame
ratings.sample(5)

          userId  movieId  rating   timestamp
17325127  179828     7153     4.0  1457151565
2120493    22011      318     3.0   847515856
25959306  270189     1997     3.0  1160772234
13414599  139496    57640     3.0  1431617221
23655832  245575     1673     3.5  1111850280